<div style="width:100%; display:flex;flex-direction:row;">
  <div style="width:49%;">
    <app-todolist></app-todolist>
  </div>
  <div style="width:49%;">
    <app-addtodo></app-addtodo>
  </div>
</div>
  
  <ng-template matStepperIcon="skipped">
    <mat-icon>remove_circle</mat-icon>
  </ng-template>

  
  {{selectedIndex}}
  <mat-stepper #stepper [orientation]="'vertical'" [selectedIndex]="selectedIndex"  >
     
      <mat-step  *ngFor="let step of steps; let i = index" [stepControl]="step.formgroup" [state]= "step.icon" >
        <ng-template matStepperIcon="number"> 
          <mat-icon >donut_large</mat-icon> 
          <mat-icon *ngIf="step.active">remove_circle</mat-icon>
          <mat-icon *ngIf="step.completed">remove_circle</mat-icon>
          <mat-icon *ngIf="step.skipped">remove_circle</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="skipped">
          <mat-icon *ngIf="step.active">remove_circle</mat-icon>
          <mat-icon>donut_large</mat-icon>
          <mat-icon *ngIf="step.skipped">remove_circle</mat-icon>
        </ng-template>
        <ng-template matStepLabel>
          <div class="title">{{ step.label }} + {{step.skipped}} {{step.completed}}</div>
          <div class="sub_title">{{ step.subtext }}</div>
        </ng-template>
        
      </mat-step> 
  </mat-stepper>
  

<div>
  <button   mat-button (click)="nextStep()">Next</button>
  <button   mat-button (click)="completenext()">complete next</button>
  <button mat-button (click)="skipStep()">Skip</button>
  <button mat-button (click)="changetext(3,'avenger')" >Change</button>
</div>
<!-- <p-steps [(activeIndex)]="activeIndex" [model]="steps" statusTemplate="statusTemplate" orientation="vertical" (click)="onStepClick($event)">
  <ng-template let-step let-index="index" pTemplate="title">
    <div class="step-title">
      <i class="step-icon" [ngClass]="{'pi-check': step.completed, 'pi-minus': step.skipped, 'pi-circle-on': !(step.completed || step.skipped)}"></i>
      <h2>{{step.title}}</h2>
    </div>
  </ng-template>
  <ng-template let-step let-index="index" pTemplate="content">
    <div class="step-content" [ngClass]="{'active': activeIndex === index}">
      <p>{{step.text}}</p>
      <button pButton label="Next" (click)="activeIndex = index + 1"></button>
    </div>
  </ng-template>
  <ng-template #statusTemplate let-index="index">
    <i class="step-icon" [ngClass]="{'pi-check': steps[index].completed, 'pi-minus': steps[index].skipped, 'pi-circle-on': !(steps[index].completed || steps[index].skipped)}"></i>
  </ng-template>
</p-steps> -->
