<div style="width:100%; display:flex;flex-direction:row;">
  <div style="width:49%;">
    <app-todolist></app-todolist>
  </div>
  <div style="width:49%;">
    <app-addtodo></app-addtodo>
  </div>
</div>
   <div class="dynamic_stepper" > 
  {{selectedIndex}}
  <mat-stepper #stepper [orientation]="'vertical'" [selectedIndex]="selectedIndex"  >
     
      <mat-step  *ngFor="let step of steps; let i = index" [stepControl]="step.formgroup" [state]= "step.icon" >
        <ng-template matStepperIcon="number"> 
          <mat-icon >donut_large</mat-icon> 
          <mat-icon *ngIf="step.active">remove_circle</mat-icon>
          <mat-icon *ngIf="step.completed">remove_circle</mat-icon>
          <mat-icon *ngIf="step.skipped">remove_circle</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="skipped">
          <mat-icon *ngIf="step.active">remove_circle</mat-icon>
          <mat-icon>donut_large</mat-icon>
          <mat-icon *ngIf="step.skipped">remove_circle</mat-icon>
        </ng-template>
        <ng-template matStepLabel>
          <div class="title">{{ step.label }} + {{step.skipped}} {{step.completed}}</div>
          <div class="sub_title">{{ step.subtext }}</div>
        </ng-template>
        
      </mat-step> 
  </mat-stepper>
  </div>

<div>
  <button   mat-button (click)="nextStep()">Next</button>
  <button   mat-button (click)="completenext()">complete next</button>
  <button mat-button (click)="skipStep()">Skip</button>
  <button mat-button (click)="changetext(3,'avenger')" >Change</button>
</div>
 